.second-page {
    margin-top: 100px;
}

.second-page__main { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second-page__main__album {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
  
.second-page__main__album img {
    height: 200px;
    width: 200px;
    border-radius: 20px;
    margin-bottom: 35px;
    box-shadow: 0px 0px 13px 10px var(--main-color);
}
  
.second-page__main__album span {
    font-size: 24px;
}

.second-page__main audio {
    margin-top: 20px;
}