.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-top: 50px;
    opacity: 0.9;
    margin-bottom:15px;
}

.screen-header__title {
    font-size: 28px;
}

.screen-header__icons span {
    position: relative;
    margin-left: 10px;
}

@keyframes rotateCog {
    0%{
        transform: none;
    }
    50% {
        transform: scale(1.3);
    }
    100%{
        transform: none;
    }
}

.screen-header__icons .fa-music:hover {
    animation: rotateCog 1s linear infinite;
}